# Ignore generated data folders
modis/
landsat/
phenology_results/
.vscode/

# Python virtual environments
venv/
.venv/
venv.*

# Local editor/IDE settings
.idea/

# R-specific
.Rhistory
.RData
.Rproj.user/

