# Ignore generated data folders
modis/
landsat/
phenology_results/

# Python virtual environments
venv/
.venv/
venv.*

# Local editor/IDE settings
.idea/

# R-specific
.vscode/    # ignore VS Code workspace settings (keep this line to ignore the folder)
.Rhistory
.RData
.Rproj.user/
!.vscode/extensions.json
